.App-logo {
    width: 10rem;
    height: auto;
}

.nav-link {
    color: #161616 !important;
}

button {
    outline: none !important;
    border: none !important;
}

.btn{
    border-radius: 0rem !important;
}
  
.btn.focus, .btn:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 !important;
}
  
.btn-outline-dark  {
    color: #161616 !important;
}
  
button:hover {
    background: none !important;
    outline: none !important;
    color: #161616 !important;
} 
  
.navbar {
    background-color: #fff !important;
}
  
.button-sign {
    font-size: 1.2rem !important;
}

.navbar.colorChange{
    background-color: #f5f5f5 !important;
  }