 .dash-icon {
    font-size: 1.3rem;
  }
 
  .dashboard-link {
   vertical-align: middle;
 }
 
 .admin-img {
   width: 3.5rem;
   height: auto;
 }
 
 .admin-brand  {
   border-radius: 50px;
   background-color: #fff;
 }
 
 .dashboard {
   overflow-x: hidden;
 }
 
 .dashboard-title {
   margin-left: 28rem !important;
 }
 
 .nav-pills .nav-link {
   border-radius: 0rem !important;
   width: 250px !important;
 }
 
 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
   background-color: #161616 !important ;
   color: #fff !important ;
 }
 
 .nav-pills .nav-link {
   color: #161616 !important ;
 }
 
 .admin-icons {
  font-size : 2rem !important;
 }
 
 .dashboard-link {
   vertical-align: middle;
 }
 
 .admin-brand  {
   border-radius: 50px;
   background-color: #fff;
 }
 
 .panel{
   background-color: #f5f5f5;
   width: 264px;
 }
 
 .edit-icon {
   margin-top: -3rem;
 }
 
 .btn-icon {
  color: #161616 !important; 
  background-color: transparent !important; 
  border-color:  transparent !important; 
}

 table {
   width: 85% !important;
 }