.desc {
    color: #666;
    font-size: 1.2rem;
}
  
.cards {
    display: flex;
    flex-wrap: wrap;
}
  
.cards>* {
    flex: 25%;
}

.hr {
    max-width: 50px;
    min-height: 3px;
}

@media screen and (min-width: 352px) and (max-width: 405px) {
    .atout-title {
        font-size: 2.1rem;
    }
  }

