
 #text {
    text-align: center;
    color: #ffffff;
}

@media only screen and (max-width: 600px) {
    #text {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 500px) {
    #text {
        font-size: 1.4rem;
    }
}


@media only screen and (max-width: 400px) {
    #text {
        font-size: 1.1rem;
    }
}