.coachs-card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
.coach-card {
      width: 16rem;
  }

  .hover-img {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 15px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    width:350px;
    height:350px;
  }
  
  .hover-img * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  
  .hover-img:after,
  .hover-img:before,
  .hover-img figcaption:after,
  .hover-img figcaption:before {
    background: #161616;
    width: 25%;
    position: absolute;
    content: '';
    opacity: 0;
    -webkit-transition: all 0.3s steps(4);
    transition: all 0.3s steps(4);
    z-index: 1;
    top: 100%;
    bottom: 0;
  }
  
  .hover-img:before {
    left: 0;
    -webkit-transition-delay: 0;
    transition-delay: 0;
  }
  
  .hover-img:after {
    left: 25%;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  
  .hover-img figcaption:before {
    left: 50%;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    z-index: -1;
  }
  
  .hover-img figcaption:after {
    left: 75%;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    z-index: -1;
  }
  
  .card-img {
    height: 330px;
    border-radius: 20px;
  }
  
  .hover-img figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 30px;
  }
  
  .hover-img h5,
  .hover-img p,
  .hover-img .icons{
    margin: 0;
    width: 100%;
    opacity: 0;
    color: #ffffff;
    cursor: pointer;
  }
  
  .hover-img h5 {
    font-weight: 900;
    text-transform: uppercase;
  }
  
  .hover-img .plot {
    font-weight: 500;
    font-size: 1rem;
  }
  
  .hover-img i:hover {
    opacity: 1;
  }
  
  .hover-img:hover:after,
  .hover-img.hover:after,
  .hover-img:hover:before,
  .hover-img.hover:before,
  .hover-img:hover figcaption:after,
  .hover-img.hover figcaption:after,
  .hover-img:hover figcaption:before,
  .hover-img.hover figcaption:before {
    top: 0;
    opacity: 0.8;
  }
  
  .hover-img:hover figcaption h5,
  .hover-img.hover figcaption h5,
  .hover-img:hover figcaption p,
  .hover-img.hover figcaption p,
  .hover-img:hover figcaption .icons,
  .hover-img.hover figcaption .icons {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }
  .hover-img:hover figcaption h5,
  .hover-img.hover figcaption h5,
  .hover-img:hover figcaption .icons,
  .hover-img.hover figcaption .icons,
  .hover-img:hover figcaption p,
  .hover-img.hover figcaption p  {
    opacity: 1;
  }

 .modal-img {
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  width: 350px;;
  height:350px;
 }

 .sidebar, .info-coach {
   background-color: #ffffff;
   border-radius: 5px;
 }

 .sidebar {
   height: 900px !important;
 }

 .coach-info {
   color: #666;
   line-height: 20px !important;
 }

 .coach-infos {
  color: #666;
  list-style: square;
 }